*{
    margin:0px;
}
p{
    border-style:groove;
    border-color: blue;
    border-width: 3px;
    border-radius: 20px;
    border-top-style: dashed;
    border-top-left-radius: 50px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 80px;
    border-left-color:red;

    /* border: 2px solid red; */
    padding: 2px;
    margin:10px;
    margin:10px 200px 30px 40px;
   }
